{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
    <div class="alert alert-light text-center">

        <p class="card-title">{{destination.name}}</p>

        <p class="card-text1">{{destination.description}}<br>


        {{destination.activities}}<br> <br> 

        <img src="{{destination.pretty_picture.url}}"> <br> <br>
        Optimal visiting season:
        {{destination.optimal_visiting_season}} 
        </p>
        <br>
        <a href="{% url 'destination-update' destination.id %}">
            <button class="btn btn-outline-dark">Update</button>
        </a>
        <a href="{% url 'destination-delete' destination.id %}">
            <button class="btn btn-outline-dark">Delete</button>
        </a>
    </div>
{% endblock content %}